<!DOCTYPE html>
<html lang="en" ng-app="myModFront">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="angular.js"></script>
   <script src="moduleFrontPage.js"></script>
    <link rel="stylesheet" href="frontPage.css">
    
  
    <title>Document</title>

</head>
<body ng-controller="myControllerFront">
    <div class="container">
        <h1>Product Comparator System</h1>
    </div>
    <marquee behavior="Sliding" direction="left" >Find the best match for your needs with ease!!</marquee>
    <div class="main">
        <div class="div1">
          <h1>Current User</h1>
          <button ng-click="Login()">Sign in</button> 
           
        </div>
        
        <div class="div2">
          <br>
         <span>Find the best product for your needs <br>
          with our product comparator system</span>
          <br>
          <br>
          <br>
         <span>Compare products side-by-side and make an informed decision</span>
         <br>
         <br>
         <br>
        
         <span>Save time and money by using our product comparator system to find the best deals</span>
        
         <br>
         <br>
         <br>
         <span>Get unbiased product recommendations based on your preferences and requirements</span>
         <br>
         <br>
         <br>
         <br>
         <span > Easily compare features, prices, and reviews <br> 
          to find the perfect product for you</span>
        </div>
        
        <div class="div4">
          <h1>New User</h1>
            <button ng-click="Register()">Sign Up</button>
        </div>
    </div>
  
 
</body>
</html>