*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #23242a;

}
.container{
    position: relative;
    width: 400px;
    height: 520px;
    background-color: #1c1c1c;
    overflow: hidden;
}
.container::before{
    content: '';
    top: -50%;
    left: -70%;
    position: absolute;
    width: 480px;
    height: 520px;
    background: linear-gradient(-360deg,transparent,#45d3ff);
    animation: animate 6s linear infinite;
    transform-origin: bottom right ;
}
.container::after{
    content: '';
    top: -50%;
    left: -40%;
    position: absolute;
    width: 480px;
    height: 520px;
    background: linear-gradient(-360deg,transparent,#45d3ff);
    animation: animate 6s linear infinite;
    transform-origin: bottom right ;
    animation-delay: -3s;
}
@keyframes animate
{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loginform{
    position: absolute;
    inset: 2px;
    border-radius: 10px;
    z-index: 10;
    background-color: #28292d;
}
