*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    height: 300px;
    width: 100%;
    background-color: red;
}
nav{
    display: inline-block;
    margin: 20px;


 }
 nav ul{
    font-family: cursive;
 }