*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 60px;
    position: fixed;
    background-image: linear-gradient(rgb(105, 105, 177),rgb(113, 139, 113));

 }
 nav .logo p{
    font-family: cursive;
    font-size: 25px;
    float: left;
    color: white;
 }
  nav ul{
    float: right;
    margin-right:20px ;
  }

  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 37px;

  }
  nav li a{
    font-size: 22px ;
    color: white;
  }

  nav li a:hover{
    color:rgb(202, 115, 199);
    transition: all 0.4s ease 0s;
  }

  .shoes{
    height: 320px;
    width: 100%;
    background-color: rgb(42, 130, 130);
    
   
   
  }
  .cloths{
    height: 320px;
    width: 100%;
    background-color: rgb(120, 165, 102);
  
   

  }
  .accessories
  {
    height: 320px;
    width: 100%;
    background-color: rgb(119, 83, 146);
   
   
   
  }
  .watches{
    height: 320px;
    width: 100%;
    background-color: rgb(83, 107, 82);
   

  }
 
.footer{
  background-color: rgb(83, 123, 110);
  padding: 60px 0 ;
  font-family: cursive;
}
.footer_Row{
    display: flex;
    flex-wrap: wrap;

}
.footer_Col{
  width: 25%;
  padding: 0 25px;
  margin-left: 80px;


}
ul{
  list-style: none;
}
.footer_Col ul li a{
  color: rgb(161, 162, 164);
  font-size: 18px;
  margin: 5px;
}
.footer_Col h4{
  color: #777777;
}
.footer_Col li a:hover{
  color:rgb(202, 115, 199);
  transition: all 0.4s ease 0s;

}